*{
  font-family: sans-serif;
}

body{
  padding: 60px;
}

input{
  width: 100%;
  font-size: 24px;
  color: gray;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-item{
  border: solid 2px gray;
  border-radius: 8px;
  margin-bottom: 6px;
  margin-left: 4px;
  max-width: 200px;
  align-items: center;
  text-overflow: hide;
}

.card-item img{
  max-width: 200px;
}